/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hide utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: scroll; /* IE and Edge */
  scrollbar-width: none;
}

